@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: black;
}
.dark {
  background-color:  black;
  color:white ;
}

::view-transition-group(root) {
  animation-duration: 1.3s;
}

::view-transition-new(root) {
  animation-name: theme;
}
::view-transition-old(root) {
  animation: none;
}

@keyframes theme {
  from {
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%);
  }

  to {
    clip-path: polygon(50% -200%, -100% 200%, 200% 200%);
  }
}
